body{
        background-color: hsl(30, 38%, 92%);
  }
main{
        align-items: center;
        background-color: hsl(0, 0%, 100%);
        border-radius: 0.5rem;
        box-shadow: 9px 13px 5px -3px rgba(0,0,0,0.27);
        display: flex;
        justify-content: center;
        margin: 8rem auto;
        max-height: 150vh;
        max-width: 85vh;
  }
img{
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        float: left;
        width: 18rem;
  }
p, h3{
        padding: 0 2rem;
        text-align: left;
  }
footer{
        bottom: 10px;
        position: absolute;
    }
button{
        background-color: hsl(158, 36%, 37%);
        border-radius: 0.5rem;
        border: none;
        color: hsl(0, 0%, 100%);
        display: block;
        font-family: 'Montserrat', sans-serif;
        height: 6vh;
        margin: 1rem auto;
        padding: 0.5rem;
        text-align: center;
        width: 35vh;
        cursor: pointer;
    }
button:hover{
    background-color: hsl(228, 12%, 48%)
}    
a{
        font-style: italic;
        text-decoration: none;
    }
a:hover{
        color: red;
      }
.old-price{
        margin-left: 1rem;
        text-decoration:line-through;
          }
.cart-icon{
        left: 8vh;
        position: relative;
        width: 2vh;
        }
.product-name{
        font-family: 'Fraunces', serif;
        font-size:xx-large;
        font-weight: 700;
        width: 15rem;
  }
.heading, p {
        color: hsl(228, 12%, 48%);
        color: hsl(228, 12%, 48%);
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin: none;
  }
.price{
        color: hsl(158, 36%, 37%);
        font-family: 'Fraunces', serif;
        font-size: 2rem;
  }
